:root {
  /* color */
  --black-color: #232323;
  /* --white-color: #f9f8f8; */
  --white-color: white;
  --light-gray-color: #b2b2b2;
  --dark-gray-color: rgb(124, 124, 124);
  --purple-color: #6900ff;
  --red-color: #ff0000;
  --light-purple-color: #e9d9ff;
  --blue-color: #00eaff;
  --gren-color: #00ff62;
  --pink-color: #ff45bd;

  /* size */
  --padding: 12px;

  /* font size */
  --font-title-topMid: 80px;
  --font-title-bottom: 30px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* font-family */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.decoList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white-color);
}

/* 구분점 */
.hotplTitle {
  display: flex;
  justify-content: center;
  padding: calc(var(--padding) * 5) var(--padding);
  width: 900px;
  text-align: center;
  background-color: var(--white-color);
  font-size: calc(var(--font-title-bottom) / 2 * 3);
  /* border-top: 2px solid var(--dark-gray-color); */
  /* border-top: 2px solid var(--purple-color); */
}

.hotplTitle div {
  padding: var(--padding);
}

.hotplTitle div:first-child {
  color: var(--purple-color);
  font-weight: bold;
}

.hotplTitle div:last-child span {
  color: var(--purple-color);
  font-weight: bold;
}

.hotpleAll {
  width: 900px;
}

.category {
  width: 100%;
  font-size: var(--font-title-bottom);
  text-align: center;
  text-decoration: underline;
  padding: calc(var(--padding) * 1) 0;
}

.category.cafe {
  text-decoration-color: var(--blue-color);
}
.category.restaurant {
  text-decoration-color: var(--gren-color);
}
.category.activity {
  text-decoration-color: var(--pink-color);
}

/* 리스트 전체 */
.lists {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--purple-color);
  background-color: var(--white-color);
}

/* 이게 카페 하나 */
.list {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: var(--padding);
  border: 2px solid var(--white-color);
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  color: var(--black-color);
}

.list:hover {
  /* border: 2px solid var(--purple-color); */
  background-color: var(--light-purple-color);
}

.list .img {
  margin: var(--padding);
  border-radius: 5px;
}

.listContents {
  display: flex;
  flex-direction: column;
  margin: var(--padding);
  justify-content: center;
  align-items: center;
}

.listContents li {
  list-style: none;
}

.locationAndReveiwAndGrade {
  margin: var(--padding) auto;
  display: flex;
}

.locationAndReveiwAndGrade li {
  float: left;
  margin-right: 5px;
  font-size: var(--font-medium);
  color: var(--dark-gray-color);
}

.locationAndReveiwAndGrade li:first-child {
  margin-left: 5px;
}

.locationAndReveiwAndGrade li::after {
  padding-left: 5px;
  content: "|";
  color: var(--light-gray-color);
}
.locationAndReveiwAndGrade li:last-child::after {
  content: "";
}

.listName {
  font-size: var(--font-large);
  font-weight: bold;
  padding: var(--padding);
  /* text-decoration: underline; */
}

/* .lists.cafe .listName {
  text-decoration-color: var(--blue-color);
}
.lists.restaurant .listName {
  text-decoration-color: var(--gren-color);
}
.lists.activity .listName {
  text-decoration-color: var(--pink-color);
} */

.listText {
  font-size: var(--font-medium);
  text-align: center;
}

/* 페이지 버튼 */

.pagebutton {
  width: 900px;
  background-color: var(--white-color);
  text-align: center;
  padding: var(--padding);
}

.pagebutton a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bold;
  padding: 3px 7px;
  border-radius: 3px;
}

.pagebutton a:hover {
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--purple-color);
}

.pagebutton .current {
  color: var(--white-color);
  background-color: var(--purple-color);
}

.topBtn {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

.topBtn a {
  color: var(--purple-color);
  background-color: var(--white-color);
  border: 3px solid var(--purple-color);
  padding: 5px 9px;
  border-radius: 5px;
}
