<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis가 데이터베이스에 연결하기 위한 설정(config)파일 -->
<configuration>
 	<!--  datasource 태그 안에 4개의 프로퍼티값이 저장된 파일 : 파일 위치한 패키지이름을 디렉토리형식으로 작성-->
  <properties resource="com/deco/mybatis/db.properties"/>
  <typeAliases>
  	<typeAlias type="com.deco.dto.Users" alias="Users"/>
  	<typeAlias type="com.deco.dto.Cafe" alias="Cafe"/>
  	<typeAlias type="com.deco.dto.SessionDto" alias="SessionDto"/>
  	<typeAlias type="com.deco.dto.Dibs" alias="Dibs"/>
  	<typeAlias type="com.deco.dto.Review" alias="Review"/>
  	<typeAlias type="com.deco.dto.Food" alias="Food"/>
  	<typeAlias type="com.deco.dto.Shows" alias="Shows"/>
  	<typeAlias type="com.deco.dto.Etc" alias="Etc"/>
  	
  </typeAliases>
  
  <!--  db 연결정보 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 데이터베이스 연결 풀 설정 : ${ } 기호안의 값은 properties 파일에서 읽어옴. -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- JDBC로 처리하는 상당부분의 코드와 파라미터 설정 및 결과 매핑 해준다.   -->
  <mappers>
  	<!-- 실행할 SQL 쿼리 저장한 파일.  -->
    <mapper resource="com/deco/mybatis/users.xml"/>
    <mapper resource="com/deco/mybatis/cafe.xml"/>
    <mapper resource="com/deco/mybatis/dibs.xml"/>
    <mapper resource="com/deco/mybatis/review.xml"/>
    <mapper resource="com/deco/mybatis/food.xml"/>
    <mapper resource="com/deco/mybatis/shows.xml"/>
    <mapper resource="com/deco/mybatis/etc.xml"/>
   
    <!-- sql mapper 파일은 여러개 사용될 수 있음. -->
  </mappers>
</configuration>


